@font-face {
  font-family: 'Branda';
  src: url('./Branda-yolq.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Branda';
}

img {
  width: 250px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(76, 73, 73);
  color: white;
  text-align: center;
}





